#bgc {
   background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://github.com/Wujek280/BTrap-Projekt-2/blob/master/gfx/header/pictures_on_the_wall.jpg?raw=true');
   background-repeat: no-repeat;
   background-size: cover;
   width: 100vw;
   height: 100vh;
}


.container-fluid.nav-bar {
	background-color: transparent;
    position: fixed;
}
/*-----------NAV--------------*/

ul>li>a {
   color: #f7f7f7;
   letter-spacing: 1px;
   text-transform: uppercase;
   font-family: Roboto;
   font-weight: bold;
   background-color: transparent;
}

/*-------HEADER TITLE---------*/

#bgc>.title {
   position: absolute;
   margin-top: 50vh;
   transform: translateX(-50%) translateY(-50%);
   margin-left: 50vw;
   text-align: center;
   font-size: 48px;
   line-height: 20px;
}

.header{
   color: #f7f7f7;
   letter-spacing: 1px;
   margin-top: 40px;
   margin-bottom: 20px;
}

h3{
   margin-top: 40px;
   margin-bottom: 10px;
}

h2.header {
   font-style: bold;
   text-transform: uppercase;
   font-size: 48px;
}

h3.header {
   font-family: Droid serif;
   font-style: italic;
   text-transform: none;
   font-size: 32px;
}

h3.in-navbar {
   color: #f7f7f7;
   font-family: Serif;
   text-transform:capitalize;
   font-style: italic;
   font-size: 32px;
}

.red {
   background-color: black;
   border:1px solid red;
}