label[for=menu-toggle] {
   float: right;
}


/*------------ON TOP OF PAGE------------*/

nav {
   padding-top: 20px;
   min-height: 40px;
   width: 100%;
   background-color: transparent;
   z-index: 30;
   border-bottom: none;
   position: fixed;
   transition: 0.3s background-color;
}

nav li {
   width: 150px;
   height: 40px;
   display: inline-block;
   float: right;
   text-align: center;
   font-weight: bold;
   z-index: 35;
   color: white;
}

li:hover {
   color: #1ac056;
}


/*-------------CLASS REST---------------*/

nav.scrool {
   background-color: ivory;
   border-bottom: 1px solid #1ac056;
   transition: 0.3s background-color;
}

nav.scrool li {
   color: #1ac056;
}

nav.scrool li:hover {
   color: black;
}