
::-moz-placeholder{
    opacity: 1;
    color: red;
}

input::-webkit-input-placeholder {
    color: red;
}

    
a[href$=".docx"] {color:darkred}
a[href$=".doc"] {color:darkblue}
    
a[href$=".docx"]:after,
a[href$=".doc"]:after {
        font-family: FontAwesome;
        content: "\f019" ;
        color: darkblue;}